# Auto detect text files and perform LF normalization
* text=auto

*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

*/Common?Uses/*/*.vb linguist-detectable=false
*/Basic?Features/*/*.vb linguist-detectable=false
